Source: bugsx
Section: non-free/math
Priority: optional
Maintainer: Marcin Owsiany <porridge@debian.org>
Build-Depends: debhelper (>> 5), libx11-dev, xutils-dev
Standards-Version: 3.7.2

Package: bugsx
Architecture: any
Depends: ${shlibs:Depends}
Description: program to evolve biomorphs using genetic algorithms
 bugsx is a program which draws biomorphs based
 on parametric plots of Fourier sine and cosine series
 and let's you play with them using genetic algorithms.
