#!/usr/bin/make -f
# debhelperized by Marcin Owsiany <porridge@debian.org>

#export DH_VERBOSE=1

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
    CFLAGS += -O0
else
    CFLAGS += -O2
endif
export CFLAGS

# dh_strip will take care of nostrip

build: build-stamp
build-stamp:
	dh_testdir
	xmkmf
	$(MAKE) CDEBUGFLAGS="-g -Wall" CCOPTIONS="$(CFLAGS)"
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	-rm -f build-stamp
	-make distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) install install.man DESTDIR=$(CURDIR)/debian/tmp

binary-indep: build install
# We have nothing to do.

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_movefiles
	dh_installdocs README bugsx.ps.gz
	dh_installchangelogs
	dh_installmenu
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install

